* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  -webkit-text-size-adjust: 100%;
  font-family: Avenir-Book, sans-serif;
  color: #222222;
  text-align: center;
  margin: 0px;
}

a {
  display: block;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
}

footer {
  background-color: #EFEFEF;
  font-family: Avenir-Black;
  font-size: 15px;
  letter-spacing: 0.02em;
  width: 100%;
  height: 10%;
  padding: 0px 22px 22px 22px;
}

.outer {
  background-color: #FFFFFF;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  position: absolute;
}

.top-container {
  /* Change the background-image url to a image of your choice */
  background-image: url('');;
  position: relative;
  background-size: cover;
  width: 100%;
  height: 57%;
  padding: 22px;
}

.button-close {
  position: absolute;
  right: 22px;
  top: 22px;
  z-index: 99;
}

.main-image {
  overflow: hidden;
  position: relative;
  width: 50%;
  height: 50%;
  bottom: 0px;
  margin: 12% auto 0% auto;
}

.main-image img {
  border-radius: 15px;
}

.header {
  font-family: Avenir-Medium;
  letter-spacing: -0.02em;
}

.message {
  font-family: Avenir-Book;
  font-size: 15px;
  line-height: 17px;
}

.bottom-container {
  background-color: #EFEFEF;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 33%;
  padding: 0px 22px 22px 22px;
}

.button-center {
  background-color: #3CCE93;
  border-radius: 5px;
  width: 100%;
  height: 100%;
}

.button-center a {
  display: table;
  height: 100%;
  width: 100%;
}

.button-center p {
  position: relative;
  display: table-cell;
  vertical-align: middle;
}

.rate-the-stars {
  color: #222222;
  font-size: 13px;
  position: absolute;
  left: 0px;
  top: 30px;
  right: 0px;
  bottom: 0px;
  margin: auto;
}

.stars {
  font-size: 40px;
  color: #D8D8D8;
  letter-spacing: 0.13em;
  display: inline;
}

.star {
  color: #F3D02A
}

/* Smaller Devices (iPhone 5, etc) */
@media only screen and (max-device-width: 568px) {
  .message {
    font-size: 13px;
    line-height: 15px;
  }

  .rate-the-stars {
    font-size: 11px;
  }
}

/* Tablets (iPads, etc) */
@media only screen and (min-device-width: 768px) {
  body {
    background-color: rgba(0,0,0,0.8);
  }

  footer {
    padding: 0px 12px 12px 12px;
    border-radius: 0px 0px 10px 10px;
  }

  .outer {
    border-radius: 10px;
    width: 45%;
    height: 50%;
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
  }

  .button-close {
    right: 12px;
    top: 12px;
  }

  .button-close img {
    width: 15px;
  }
}
