* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  -webkit-text-size-adjust: 100%;
  font-family: Avenir-Book, sans-serif;
  color: #222222;
  text-align: center;
  margin: 0px;
}

a {
  display: block;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
}

footer {
  background-color: #EFEFEF;
  border-radius: 0px 0px 10px 10px;
  font-family: Avenir-Black;
  font-size: 15px;
  letter-spacing: 0.02em;
  width: 100%;
  height: 12%;
  padding: 0px 12px 12px 12px;
}

.outer {
  background-color: #FFFFFF;
  /* To change the background color of the modal, change the rgba configuration.  The last parameter (0.8) configures the opacity. */
  background-color: rgba(0,0,0,0.8);
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  position: absolute;
}

.modal {
  border-radius: 10px;
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;
  margin: auto;
  width: 85%;
  height: 70%;
}

.top-container {
  background-color: #FFFFFF;
  /* Change the background-image url to a image of your choice */
  background-image: url('');
  background-size: cover;
  border-radius: 10px 10px 0px 0px;
  width: 100%;
  height: 50%;
  padding: 22px;
}

.button-close {
  position: absolute;
  z-index: 99;
  right: 12px;
  top: 12px;
}

.main-image {
  overflow: hidden;
  width: 35%;
  margin: 5% auto 0% auto;
}

.main-image img {
  border-radius: 15px;
}

.header {
  font-family: Avenir-Medium;
  line-height: 14px;
  letter-spacing: -0.02em;
}

.message {
  font-family: Avenir-Book;
  font-size: 15px;
  line-height: 17px;
}

.bottom-container {
  background-color: #EFEFEF;
  position: relative;
  width: 100%;
  height: 38%;
  padding: 0px 12px 12px 12px;
}

.button-center {
  background-color: #3CCE93;
  border-radius: 5px;
  width: 100%;
  height: 100%;
}

.button-center a {
  display: table;
  height: 100%;
  width: 100%;
}

.button-center p {
  position: relative;
  display: table-cell;
  vertical-align: middle;
}

.rate-the-stars {
  color: #222222;
  font-size: 13px;
  position: absolute;
  left: 0px;
  top: 30px;
  right: 0px;
  bottom: 0px;
  margin: auto;
}

.stars {
  color: #D8D8D8;
  font-size: 38px;
  letter-spacing: 0.05em;
  display: inline;
}

.star {
  color: #F3D02A
}

/* Smaller Devices (iPhone 5, etc) */
@media only screen and (max-device-width: 568px) {
  .message {
    font-size: 13px;
    line-height: 15px;
  }

  .rate-the-stars {
    font-size: 11px;
  }
}

/* Tablets (iPads, etc) */
@media only screen and (min-device-width: 768px) {
  .modal {
    width: 45%;
    height: 50%;
  }
}

/* Landscape for mobile phones */
@media only screen and (orientation: landscape) {
  footer {
    height: 12%;
    padding: 0px 11px 11px 11px;
  }

  p {
    margin: 5px;
  }

  .header {
    margin: 7px;
  }

  .main-image {
    margin: 0px auto;
  }

  .main-image img {
    width: 45%;
  }

  .top-container {
    height: 52%;
  }

  .bottom-container {
    height: 29%;
  }

  .rate-the-stars {
    top: 10px;
  }

  .stars {
    font-size: 30px;
  }
}

/* Landscape for Smaller Devices  */
@media only screen and (max-device-width: 568px) and (orientation: landscape) {
  footer {
    height: 12%;
    padding: 0px 8px 8px 8px;
  }

  p {
    margin: 0px;
  }

  .top-container {
    height: 54%;
  }

  .bottom-container {
    height: 27%;
  }

  .stars {
    font-size: 25px;
  }
}

/* Landscape for Tablets  */
@media only screen and (min-device-width: 768px) and (orientation: landscape) {
  .main-image img {
    width: 85%;
  }

  .header {
    margin: 15px;
  }
}
